.contact-form .form-control {
  border-radius: 0.5rem;
}

.btn-rosa {
  background-color: var(--rosa-oscuro);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.btn-rosa:hover {
  background-color: var(--rosa-claro);
  color: #333;
}
